﻿body {
    font-family:メイリオ;
    font-size:14px;
    overflow: hidden;
    background-image: url(./img0.jpg);
    word-break: break-all;
}

div#head {
    z-index: 0;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background-color: #000000;
    color: #ffffff;
}
div#head div#window_visible_button:hover {
    color:red;
}

div#bar_graph_button {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100px;
    height: 25px;
}

div#line_graph_button {
    position: absolute;
    right: 100px;
    top: 0px;
    width: 100px;
    height: 25px;
}

div#main {
    z-index: 0;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 30px;
    right: 0px;
    overflow: hidden;
}

div#window {
    z-index: 2;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 450px;
    height: 420px;
    background-color: rgba(153,180,209,0.3);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,1);
    border: 1px solid rgba(235,240,245,1);
    border-radius: 5px;
}

    div#window div#title_ber {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        height: 30px;
        background-color: rgba(0,0,0,0);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

        div#window div#title_ber div#min_button {
            transition: 0.2s all ease-in-out;
            position: absolute;
            top: 0px;
            right: 5px;
            bottom: 10px;
            width: 60px;
            text-align: center;
            background-color: rgba(220,0,0,1);
            border-bottom: 1px solid rgba(64,76,88,1);
            border-left: 1px solid rgba(64,76,88,1);
            border-right: 1px solid rgba(64,76,88,1);
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            box-shadow: 0px 0px 0px 1px rgba(235,240,245,1);
        }

            div#window div#title_ber div#min_button:hover {
                transition: 0s all ease-in-out;
                background-color: rgba(255,0,0,1);
            }

    div#window div#serect_ber {
        position: absolute;
        left: 5px;
        top: 30px;
        right: 5px;
        height: 24px;
        border-top: 1px solid #D6D6D6;
        border-left: 1px solid #D6D6D6;
        border-right: 1px solid #D6D6D6;
        background-color: rgba(255,255,255,1);
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

        div#window div#serect_ber div#cc_button {
            position: absolute;
            left: 5px;
            top: 0px;
            bottom: 0px;
            width: 100px;
        }

        div#window div#serect_ber div#ms_button {
            position: absolute;
            left: 108px;
            top: 0px;
            bottom: 0px;
            width: 100px;
        }

.serect_button {
    transition: 0.2s all ease-in-out;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    text-align: center;
}

    .serect_button:hover {
        transition: 0.2s all ease-in-out;
        border-top: 1px solid rgba(255,255,0,1);
        border-left: 1px solid rgba(255,255,0,1);
        border-right: 1px solid rgba(255,255,0,1);
        background-color: #FDFDFF;
        box-shadow: 0px 0px 1px 1px rgba(255,255,0,1);
    }

div#window div.main_window {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 55px;
    bottom: 5px;
    background-color: rgba(199,209,225,1);
    border: 1px solid #D6D6D6;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.text {
    overflow: hidden;
}

div#window div#cc_window div#xcoo {
    position: absolute;
    left: 5px;
    top: 0px;
    width: 150px;
    height: 42px;
    background-color: #ff3366;
}

div#window div#cc_window div#ycoo {
    position: absolute;
    left: 5px;
    top: 43px;
    width: 150px;
    height: 42px;
    background-color: #ff3366;
}

div#window div#cc_window div#rot {
    position: absolute;
    left: 5px;
    top: 86px;
    width: 150px;
    height: 42px;
    background-color: #ff3366;
}

div#window div#cc_window table#number {
    position: absolute;
    left: 165px;
    top: 0px;
    width: 150px;
    height: 128px;
    background-color: #ff3366;
}

div#window div#cc_window div#coursecreate {
    position: relative;
    left: 330px;
    top: 10px;
    width: 100px;
    height: 50px;
}

    div#window div#cc_window div#coursecreate div {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -0.5em;
        margin-left: -1.25em;
    }

div#window div#cc_window div#courseclear {
    position: relative;
    left: 330px;
    top: 20px;
    width: 100px;
    height: 50px;
}

    div#window div#cc_window div#courseclear div {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -0.5em;
        margin-left: -2em;
    }

.button {
    transition: 0.1s all ease-in-out;
    background-color: #0000ff;
    text-align: center;
    color: #ffff00;
    border-radius: 3px;
}

    .button:hover {
        transition: 0.1s all ease-in-out;
        background-color: #ffd800;
    }

div#window div#cc_window div#T600 {
    position: absolute;
    left: 9px;
    top: 135px;
    width: 80px;
    height: 25px;
}

div#window div#cc_window div#T450 {
    position: absolute;
    left: 9px;
    top: 165px;
    width: 80px;
    height: 25px;
}

div#window div#cc_window div#T300 {
    position: absolute;
    left: 9px;
    top: 195px;
    width: 80px;
    height: 25px;
}

div#window div#cc_window div#T250 {
    position: absolute;
    left: 9px;
    top: 225px;
    width: 80px;
    height: 25px;
}

div#window div#cc_window div#T200 {
    position: absolute;
    left: 9px;
    top: 255px;
    width: 80px;
    height: 25px;
}


div#window div#cc_window div#T150 {
    position: absolute;
    left: 9px;
    top: 285px;
    width: 80px;
    height: 25px;
}

div#window div#cc_window div#T80 {
    position: absolute;
    left: 9px;
    top: 315px;
    width: 80px;
    height: 25px;
}
div#window div#cc_window div#RR450 {
    position: absolute;
    left: 94px;
    top: 135px;
    width: 80px;
    height: 60px;
}

div#window div#cc_window div#LR450 {
    position: absolute;
    left: 94px;
    top: 270px;
    width: 80px;
    height: 60px;
}

div#window div#cc_window div#RR600 {
    position: absolute;
    left: 179px;
    top: 135px;
    width: 80px;
    height: 60px;
}

div#window div#cc_window div#LR600 {
    position: absolute;
    left: 179px;
    top: 270px;
    width: 80px;
    height: 60px;
}

div#window div#cc_window div#RS38 {
    position: absolute;
    left: 264px;
    top: 135px;
    width: 80px;
    height: 60px;
}

div#window div#cc_window div#LS38 {
    position: absolute;
    left: 264px;
    top: 270px;
    width: 80px;
    height: 60px;
}

div#window div#cc_window div#RLC {
    position: absolute;
    left: 349px;
    top: 135px;
    width: 80px;
    height: 60px;
}

div#window div#cc_window div#LLC {
    position: absolute;
    left: 349px;
    top: 270px;
    width: 80px;
    height: 60px;
}

div#window div#cc_window div#Up {
    position: absolute;
    left: 95px;
    top: 220px;
    width: 165px;
    height: 25px;
}

div#window div#cc_window div#Down {
    position: absolute;
    left: 265px;
    top: 220px;
    width: 165px;
    height: 25px;
}

div#window div#ms_window div#left_block{
    position:absolute;
    top:0px;
    left:0px;
    right:50%;
    bottom:0px;
}

div#window div#ms_window div#right_block{
    position:absolute;
    top:0px;
    left:50%;
    right:0px;
    bottom:0px;
}

div#main div#cube {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 159px;
    height: 200px;
    background-color: rgba(255,255,0,0.5);
}

    div#main div#cube div#sensorboard {
        position: absolute;
        top: -280px;
        left: 30px;
        width: 99px;
        height: 30px;
        background-color: #ff0000;
    }

.sensor {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #ffff00;
}

div#main div#cube div#sensorboard div#s0 {
    position: absolute;
    top: 16px;
    right: 3px;
}

div#main div#cube div#sensorboard div#s1 {
    position: absolute;
    top: 16px;
    right: 21px;
}

div#main div#cube div#sensorboard div#s2 {
    position: absolute;
    top: 16px;
    right: 39px;
}

div#main div#cube div#sensorboard div#s3 {
    position: absolute;
    top: 16px;
    right: 57px;
}

div#main div#cube div#sensorboard div#s4 {
    position: absolute;
    top: 16px;
    right: 75px;
}

div#main div#cube div#sensorboard div#s5 {
    position: absolute;
    top: 16px;
    right: 93px;
}

div#main div#cube div#sensorboard div#s6 {
    position: absolute;
    top: 3px;
    right: 6px;
}

div#main div#cube div#sensorboard div#s7 {
    position: absolute;
    top: 3px;
    right: 90px;
}

div#main div#canvas {
    position: absolute;
    left: 0px;
    top: 0px;
}

div#side {
    z-index: 1;
    position: fixed;
    bottom: 30px;
    right: 0px;
    width: 600px;
    height: 300px;
    overflow: hidden;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.5);
}

div#free_window{
    z-index:3;
    position:absolute;
    bottom:2%;
    width:600px;
    height:300px;
    background-color:rgba(235,240,245,1);
    border:1px solid;
    overflow:auto;
    visibility:hidden;
}